{{#section 'title'}}
    Card - Portal Inventori Cermati
{{/section}}
{{error}}
<div class="container mt-20">
    <div class="row">
        <div class="col s12 center">
            <span class="font-40 center-align">Kartu Inventarisir Cermati</span>
        </div>
    </div>
    <div class="row">
        <div class="col s12 mt-20">
            <div class="col s9">
                <table>
                    <tr>
                        <td width="15%">
                            Nama
                        </td>
                        <td>
                            : Test
                        </td>
                    </tr>
                    <tr>
                        <td width="15%">
                            Jabatan
                        </td>
                        <td>
                            : Test
                        </td>
                    </tr>
                    <tr>
                        <td width="15%">
                            Divisi
                        </td>
                        <td>
                            : Test
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col s3 right">
                <img src="/images/cermati.png" alt="Cermati Logo" height="100" width="100">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 mt-20 home-table">
            <table class="bordered">
                <thead>
                    <tr>
                        <th width="10%">ID</th>
                        <th width="20%">Tgl Keluar</th>
                        <th width="20%">Jenis</th>
                        <th width="35%">Nama</th>
                        <th width="15%">Lokasi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            sadasda
                        </td>
                        <td>
                            sadasda
                        </td>
                        <td>
                            sadasda
                        </td>
                        <td>
                            sadasda
                        </td>
                        <td>
                            sadasda
                        </td>
                    </tr>
                    <tr>
                        <td>
                            sadasda
                        </td>
                        <td>
                            sadasda
                        </td>
                        <td>
                            sadasda
                        </td>
                        <td>
                            sadasda
                        </td>
                        <td>
                            sadasda
                        </td>
                    </tr>
                    <tr>
                        <td>
                            sadasda
                        </td>
                        <td>
                            sadasda
                        </td>
                        <td>
                            sadasda
                        </td>
                        <td>
                            sadasda
                        </td>
                        <td>
                            sadasda
                        </td>
                    </tr>
                <tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col s12 mt-20">
            <p>Dengan ini menerangkan bertanggung jawab atas barang-barang inventaris tersebut diatas, agar barang-barang tersebut tidak <span class="bold">tertukar, rusak ataupun hilang.</span></p>
        </div>
    </div>

    <div class="row">
        <div class="col s6 mt-20 center">
           Yang Membuat,
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            ( __________________ )
        </div>
        <div class="col s6 mt-20 center">
            Yang Menerangkan,
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            ( __________________ )
        </div>
    </div>
</div>