{{#section 'title'}}
    Add Stock - Portal Inventori Cermati
{{/section}}
{{error}}
<div class="container">
    <div class="row mt-20">
        <div class="col s12">
            <span class="font-40">New Stock</span>
        </div>
    </div>
    <div class="border-bottom"></div>
    <form enctype="multipart/form-data" method="POST" action="/inventory/add-stock-csv">
        <div class="col s12 mt-20 border-bottom pdb-50">
            <div class="col s12 grey lighten-3">
                <span class="font-17">Upload from CSV File</span>
            </div>
            <div class="file-field input-field">
                <div class="btn blue" title="Format (Tanpa Header) : &#010;Jenis Item, ID Inventory, Deskripsi Item, Serial Number, Lokasi, Catatan&#010;&#010;Jenis Item : &#010;1 = Laptop &#010;2 = Charger Laptop &#010;3 = Mouse &#010;4 = Headset &#010;5 = Keyboard &#010;6 = Monitor&#010;&#010;Lokasi :&#010;1 = Central Park&#010;2 = Kedoya">
                    <span>Upload</span>
                    <input type="file" name="csvFiles">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" name="csvName" required>
                </div>
            </div>
            <div class="input-field col s12">
                <button type="submit" name="addSubmitBtn" class="mb-20 waves-effect waves-light btn green darken-3 right ml-10">Submit</button>
            </div>
        </div>
    </form>
    <div class="row mt-20">
        <div class="col s12 center">
            <span class="font-17">-- or --</span>
        </div>
    </div>
    <form action="" method="post">
        <div class="row" id="addItemBlock">
            <div class="col s12 border-bottom addItemContent0">
                <div class="col s12 grey lighten-3 mb-20">
                    <span class="font-17">Input Detail Item</span>
                </div>
                <div class="input-field col s12 m6 l6">
                    <select id="addCategory0" name="adds[0][category]" required>
                        <option value="" disabled selected>Pilih Jenis Item</option>
                        <option value="1">Laptop</option>
                        <option value="2">Charger Laptop</option>
                        <option value="3">Mouse</option>
                        <option value="4">Headset</option>
                        <option value="5">Keyboard</option>
                        <option value="6">Monitor</option>
                    </select>
                    <label>Jenis Item</label>
                </div>
                <div class="file-field input-field col s12 m6 l6 mb-10">
                    <input id="addId0" name="adds[0][id]" type="text" class="validate" required>
                    <label for="addId0">ID Inventory</label>
                </div>
                <div class="file-field input-field col s12">
                    <input id="addName0" name="adds[0][name]" type="text" class="validate" required>
                    <label for="addName0">Nama</label>
                </div>
                <div class="file-field input-field col s12 m6 l6">
                    <input id="addSN0" name="adds[0][sn]" type="text" class="validate" required>
                    <label for="addSN0">Serial Number</label>
                </div>
                <div class="input-field col s12 m6 l6">
                    <select id="addLokasi0" name="adds[0][lokasi]" required>
                        <option value="" disabled selected>Pilih Lokasi</option>
                        <option value="1">Central Park</option>
                        <option value="2">Kedoya</option>
                    </select>
                    <label>Lokasi</label>
                </div>
                <div class="input-field col s12">
                    <textarea id="addNote0" name="adds[0][note]" class="materialize-textarea"></textarea>
                    <label for="addNote0">Catatan</label>
                </div>
                <div class="input-field col s12 mb-20">
                    <a name="duplicateButton0" id="0" class="duplicateButton waves-effect waves-light btn orange darken-3 right ml-10">Duplicate</a>
                    <a name="remItemButton0" id=0 class="waves-effect waves-light btn red right disabled" disabled>Remove</a>
                </div>
            </div>
        </div>
        <div class="input-field col s12 mb-20">
            <span class="font-20 green-text">{{message}}</span>
            <button type="submit" name="addSubmitBtn" class="waves-effect waves-light btn green darken-3 right ml-10">Submit</button>
            <a id="addItemButton" class="waves-effect waves-light btn blue right ml-10">Add More</a>
        </div>
    </form>
</div>